.extra-list {
  @include list-unstyled;

  display: flex;
  flex-wrap: wrap;
}

.extra-list__item {
  margin-right: 60px;
}

.extra-list__link {
  color: #000000;
  font-size: 15px;
  font-weight: bold;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}
