*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  line-height: 1.48;
  color: $color-dark-gray;
  font-size: 15px;
  font-weight: normal;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  body {
    font-size: 17px;
  }
}
